<div class="redes">
    <div class="boton azul">
        <a href=""><i class="bi bi-facebook"></i></a>
    </div>
    <div class="boton rosa">
        <a href="https://www.instagram.com/nath._spa/"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="boton azul">
        <a href=""><i class="bi bi-twitter"></i></a>
    </div>
    <div class="boton verde">
        <a href="https://api.whatsapp.com/send?phone=+593993792827&text=Hola%20Nesesito%20Informacion"><i class="bi bi-whatsapp"></i></a>
    </div>
</div>
