<section id="contacto" class="contacto">
    <div class="containerC">
        <div class="form card">
            <div class="card-body">
                <h1 class="form-tittle">Ponte en Contacto con Nosotros</h1>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" id="nombre"
                        placeholder="Jhon Doe">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Ingresa tu Email</label>
                    <input type="email" class="form-control" id="email"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="ayudaForm" class="form-label">En que te podemos Ayudar</label>
                    <textarea class="form-control" id="ayudaForm" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-primary">Enviar</button>
                </div>
            </div>

        </div>
        <div class="ubicacion">
            <h1 class="form-tittle">Ubicación</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1994.8932621786585!2d-78.33811880751331!3d-0.22874283847006258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1695574233813!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
    
</section>