<section id="nosotros" class="nostros">
    <div class="productos-header">
        <h1>Sobre Nosotros</h1>
        <h3>En NaT Spa hacemos felizes a nuestros Clientes</h3>
    </div>
    <div class="nostrosData">
        <div class="textoN nostrosData animation" >
            <p>En Nat Spa, nuestro compromiso es brindar 
                a nuestros clientes una experiencia de relajación
                y rejuvenecimiento incomparable en el corazón de Quito, 
                Ecuador. Nuestro equipo de profesionales altamente capacitados 
                se dedica a proporcionar tratamientos de belleza y bienestar de la más 
                alta calidad, incluyendo peeling faciales, masajes terapéuticos y una variedad d
                e servicios de spa diseñados para revitalizar cuerpo y mente. Nos enorgullece ofrecer un ambiente
                 sereno y acogedor, donde nuestros clientes pueden escapar del ajetreo y el estrés diario para renovar 
                 su energía y vitalidad. En Nat Spa, su bienestar es nuestra prioridad.</p>
        </div>
        <div class="imgN animation">
            <img src="https://images.pexels.com/photos/5938595/pexels-photo-5938595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="spa">
        </div>
    </div>
</section>
