<section id="inicio" class="zona1">
    <div class="home1">
        <h1>¡Descubre Tu Belleza Interior y <br>
            Exterior!  
            <br><span class="estetica">Centro Estetico y Spa</span></h1>
            <div class="btnHome">
                <button class="btn">Agenda Tu Cita</button>
            </div>
            <app-botones-redes></app-botones-redes>
        </div>
    <div class="home2">
        <app-carusel
        [images]="[
        'https://images.pexels.com/photos/3973089/pexels-photo-3973089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/3852136/pexels-photo-3852136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', 
        'https://images.pexels.com/photos/3865560/pexels-photo-3865560.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        ]"
        ></app-carusel>
    </div>
</section>
